@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-sans);
}

@theme {
  --color-*: initial;
  --color-transparent: transparent;

  --color-white: #fff;
  --color-black: #202124;
  --color-blue: #4285F4;
  --color-teal: #2DAEB8;

  /* Create dark colours by reducing the saturation and lightness */
  /* https://ishadeed.com/article/css-relative-colors/ */
  --color-dark-blue: hsl(from var(--color-blue) h calc(s - 10) calc(l - 10)); 
  --color-dark-teal: hsl(from var(--color-teal) h calc(s - 10) calc(l - 10));
}

body {
  background: var(--color-white);
  font-family: var(--font-sans);
  color: var(--color-black);
}

button {
  pointer-events: all;
  cursor: pointer;
}

a {
  pointer-events: all;
  cursor: pointer;
}

.webkit-text {
  -webkit-text-fill-color: transparent;
}